{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(this).addClass("visible");

            $('.text_container').click(function() {

                let $this = $(this);

                if ($this.hasClass("hidden")) {
                    $(this).removeClass("hidden").addClass("visible");
                } else {
                    $(this).removeClass("visible").addClass("hidden");
                }
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% if not query %}
        <h3> No query is given </h3>
    {% else %}
        <div class="content column" id="text">

            <h5>Top {{query[0][3]}} Paragraphs for Query: {{query[0][2] | safe}}</h5>

            <div id="evalGroup">
                <h5><strong>Eval:</strong></h5>
                MAP: {{query[0][1].split(" ")[0] }}
                NDCG: {{query[0][1].split(" ")[1] }}
                R-Precision: {{query[0][1].split(" ")[2]}}
            </div>

            {% for paragraphs,similarities in query[0][0] %}
                <div class="text_container">
                    <h6>Paragraph: <br>(Similarity {{similarities|safe}}): </h6>
                    <div id="paragraphGroup">
                        {{paragraphs|safe}}
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="content column" id="text">
            <div class="text_container" id="text">

            <h5>Qrel data for {{ query[0][2] | safe }}</h5>

            {% for paragraph in query[2].split(",") %}
            <div id="paragraphGroup">
                {{paragraph | safe}}
            </div>
            {% endfor %}
            </div>
        </div>


    {% endif %}
{% endblock %}
